main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFF0F5;
    
    
}
main>.item{
    flex:none;
    width: 300px; 
    margin: 10px;
    text-align:center;
    font-family:DFKai-sb;
    font-weight: 900;
    
    
}

.item2{
    
    
    background-color: #FFFFFF;
    width: 800px;
    height: 300px;
    font-family:DFKai-sb;
    margin: 10px;
}

.item3{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex:none;
    width: 300px; 
    margin: 10px;
    font-family:DFKai-sb;
    font-weight: 900;
    
}


.box{
    display:flex;
    width: auto;
    height: auto;
    background-color: #cccccc;
    border-style:solid;
}


    
div> img{
    width: 100%;
    height: 300px;
}




@media(max-width:1200px){
    main>.item{
        width:45%;
    }
    main>.box{
        width:45%;
    }
    main>.test2
    {
        width:45%;
    }
    main>.item2
    {
        width:45%;
    }
}
@media(max-width:500px){
    main>.item{
        width: 90%;
    }
    main>.box{
        width:90%;
    }
    main>.test2
    {
        width:90%;
    }
    main>.item2
    {
        width:90%;
    }
}
