main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cccccc;
    
}
main>.item{
    flex:none;
    width: 300px; 
    margin: 10px;
    background-color: #ffcccc;
}
.test2{
    display: flex;
    background-color: #ffcccc;
    width: auto;
    height: 300px;
    border-style:solid;
}
.box{
    display:flex;
    width: auto;
    height: auto;
    background-color: #cccccc;
    border-style:solid;
}



@media(max-width:1200px){
    main>.item{
        width:45%;
    }
    main>.box{
        width:45%;
    }
    main>.test2
    {
        width:45%;
    }
}
@media(max-width:500px){
    main>.item{
        width: 90%;
    }
}
